alembic==1.10.4
arrow==1.2.3
flask-wtf==1.1.1
flask-validator==1.4.2
inflection==0.5.1
graphviz==0.20.1
pandas==2.0.1
pymysql==1.0.3
pg8000==1.29.4
sadisplay==0.4.9
sqlalchemy==2.0.12
sqlalchemy-mixins==2.0.0
sqlalchemy-repr==0.1.0
sqlalchemy-utils==0.41.1
wtforms_alchemy==0.18.0
