alembic==1.10.4
arrow==1.2.3
flask-wtf==1.1.1
flask-validator==1.4.2
graphviz==0.20.1
inflection==0.5.1
pandas==2.0.1
pg8000==1.29.4
pymysql==1.0.3
sadisplay==0.4.9
sqlalchemy==1.4.48
sqlalchemy-mixins==1.5.3
sqlalchemy-repr==0.1.0
sqlalchemy-utils==0.41.1
wtforms_alchemy==0.18.0
